# --- Binaries and objects ---
build/
obj/
*.elf
*.bin
*.hex
*.map
*.o
*.d
compile_commands.json

# --- References ---
docs/


# --- Logs and Debug ---
*.log
.gdb_history
.openocd_log

# --- Misc ---
.vscode/
.idea/
.settings/
.project
.cproject
*~
*.swp
